# this is the only docker-compose 2.x version supporting NVIDIA GPUs
version: '2.3'

services:
  carla-simulator:
    image: carla-sim
    runtime: nvidia
    security_opt:
      - seccomp:unconfined
    environment:
      SDL_VIDEODRIVER: offscreen
      SDL_HINT_CUDA_DEVICE: 0
    expose:
      - 2000
      - 2001
      - 2002
    networks:
      - carla
    command: ["-carla-server"]

  roscore:
    image: ros:noetic
    command: roscore
    expose:
      - 11311
    networks:
      - ros

  carla-ros-bridge:
    image: carla-ros-bridge
    runtime: nvidia
    security_opt:
      - seccomp:unconfined
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./FollowLeadingVehicle.xosc:/config/FollowLeadingVehicle.xosc
    environment:
      SDL_VIDEODRIVER: x11
      SDL_HINT_CUDA_DEVICE: 0
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: 1
      ROS_MASTER_URI: http://roscore:11311
      ROS_HOSTNAME: carla-ros-bridge
      CARLA_SIM_HOST: carla-simulator
      CARLA_OPENSCENARIO_FILE: /config/FollowLeadingVehicle.xosc
    networks:
      - carla
      - ros

  local-planner:
    image: local_planner
    volumes:
      - './logs:/app/logs'
    environment:
      ROS_MASTER_URI: http://roscore:11311
      ROS_HOSTNAME: local-planner
    networks:
      - ros

  global-planner:
    image: global_planner
    environment:
      ROS_MASTER_URI: http://roscore:11311
      ROS_HOSTNAME: global-planner
    networks:
      - ros

  traffic-light-detection:
    image: traffic_light_detection
    environment:
      ROS_MASTER_URI: http://roscore:11311
      ROS_HOSTNAME: traffic-light-detection
    networks:
      - ros


networks:
  carla:
  ros:
